{% extends "layout.html" %}
{% block body %}

<div class="nav">
    <div class="title">
        <head><h1 style="font-size: xxx-large">Game Select</h1></head>
    </div>
    <div class="task">
        <div class="select" style="font-size: xx-large">
            <list id="games" name="games">
                <label class="center answerLabel" for="addr">Set IP Addr (find on server):</label>
                <input class="center answerBox" type="text" id="addr" name="addr">
                <input class="center submit" id="submitButton" type="button" value="Submit" onclick="setAddr();"/>
                <br><br><button onclick="clearConfigs()">Clear all configs</button>
                <br><br>
                <a href="/master-the-dance">Master the dance!</a>&emsp;&ensp;&emsp;&emsp;&emsp;&emsp;&emsp;<a href="/master-the-dance/config">Config</a><br><br>
                <a href="/charades">Sole the charades challenge!</a>&emsp;&emsp;<a href="/charades/config">Config</a><br><br>
                <a href="/needlepoint">Needlepoint!</a>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<a href="/needlepoint/config">Config</a><br><br>
                <!--                <a href="/cypher">Cypher Crack</a><br><br>-->
            </list>
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='javaScript/client.js') }}">
    </script>
    {% endblock %}