{% extends "layout.html" %}
{% block body %}

<div class="nav">
    <div class="title">
        <head><h1 style="font-size: xxx-large">Game Select</h1></head>
    </div>
    <div class="task">
        <div class="select" style="font-size: xx-large">
            <list id="games" name="games">
                <a href="/item-catch">Item Catch</a><br><br>
                <a href="/riddle">Riddle Mystery</a><br><br>
                <a href="/tile-shift">Tile Shift!</a><br><br>
<!--                <a href="/cypher">Cypher Crack</a><br><br>-->

            </list>
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='javaScript/home.js') }}">
    </script>
    {% endblock %}