<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style-catch.css') }}"/>
    <script src="{{ url_for('static',filename='javaScript/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='javaScript/item-catch.js') }}" defer></script>
    <title>Master the dance!</title>
</head>
<body>

<!--<img class="background-image" src="{{ url_for('static',filename='images/item-bg.jpg') }}"/>-->

<section class="intro-grid" id="view-1">
        <figure class="person">
    <img draggable="false" src="{{ url_for('static',filename='images/Dance_Intro.png') }}" alt="Portrait of a Man by François-Xavier Fabre" title="Portrait of a Man by François-Xavier Fabre"/>
        <p class="imageBy">Background image by GarryKillian on Freepik</p>
    </figure>
    <h1 class="game-title">Master the dance!</h1>
    <section class="grid-spot progress" style="visibility: hidden" id="danceScores"></section>
    <p class="instructions">
1802, Bath Assembly Rooms.

The bridal Ball has taken a dark turn. The Earl is dead and the murderer is likely still here! Desperately afraid to be exposed to the worst sort of scandal, Isobel, now widow, has begged you for help. Who committed this atrocious crime? Would anyone in this very ballroom know more than they let on?

You’ll need to deploy your most elaborate charms if you have any hope of coming to the heart of this affair – and what better way of charming these eligible gentlemen than giving them the most elegant dance of the Season!

To do so, you’ll need to follow the rhythm and hit the steps as they appear. Take care not to delay for too long or your partner might take umbrage at your lack of pace. Oh, and most of all, do not step on their toes! What a humiliation that would be, so unseemly… No chance of that happening though of course, you’re an excellent dancer – are you not? Good luck!
    </p>
    <div id="progress" class="column" style="position: relative; left: 0; top: 0; visibility: hidden">
        <img draggable="false" id="catch1" class="catch locked image"
             src="{{url_for('static', filename='images/Progress/Dance1.PNG')}}">
        <img draggable="false" id="catch2" class="catch locked image"
             src="{{url_for('static', filename='images/Progress/Dance2.PNG')}}">
        <img draggable="false" id="catch3" class="catch locked image"
             src="{{url_for('static', filename='images/Progress/Dance3.PNG')}}">
    </div>
    <div class="name">
        <label class="answerLabel" for="userName">Your Name: </label><br>
        <input class="answerBox" type="text" id="userName" name="answer">
    </div>
    <button class="play ">Play!</button>
    <div class="win-lose">
    </div>
</section>

<section id="view-2">
    <div class="timer">
        <p style="display: none" id="stepper">Steps left: <span id="steps-left"></span></p>
        <p style="display: none" id="timerr">Time left: <span id="time-left"></span></p>
        <p class="tutorial">Click these:</p>
        <img  class="tutorial" id="good-sample" draggable="false" src="{{ url_for('static',filename='images/Footsteps/CorrectSteps/Correct1.png') }}"/>
        <p class="tutorial">And not these:</p>
        <img  class="tutorial" id="bad-sample" draggable="false" src="{{ url_for('static',filename='images/Footsteps/WrongSteps/Wrong1.png') }}"/>
        <div style="display: none" id="snake-count">
            Score: <span id="steps-hit">X</span>/<span id="snake-goal">Y</span>
        </div>
    </div>
    <div class="step-container" id="good-step-container">
        <img id="good-step-image1" style="visibility: hidden" draggable="false" src="{{ url_for('static',filename='images/Footsteps/CorrectSteps/Correct1.png') }}"/>
        <img id="good-step-image2" style="visibility: hidden" draggable="false" src="{{ url_for('static',filename='images/Footsteps/CorrectSteps/Correct2.png') }}"/>
        <img id="good-step-image3" style="visibility: hidden" draggable="false" src="{{ url_for('static',filename='images/Footsteps/CorrectSteps/Correct3.png') }}"/>
        <img id="good-step-image4" style="visibility: hidden" draggable="false" src="{{ url_for('static',filename='images/Footsteps/CorrectSteps/Correct4.png') }}"/>
        <img id="good-step-image5" style="visibility: hidden" draggable="false" src="{{ url_for('static',filename='images/Footsteps/CorrectSteps/Correct5.png') }}"/>
    </div>
    <div class="step-container" id="bad-step-container">
        <img id="bad-step-image1" style="visibility: hidden" draggable="false" src="{{ url_for('static',filename='images/Footsteps/WrongSteps/Wrong1.png') }}"/>
        <img id="bad-step-image2" style="visibility: hidden" draggable="false" src="{{ url_for('static',filename='images/Footsteps/WrongSteps/Wrong2.png') }}"/>
        <img id="bad-step-image3" style="visibility: hidden" draggable="false" src="{{ url_for('static',filename='images/Footsteps/WrongSteps/Wrong3.png') }}"/>
        <img id="bad-step-image4" style="visibility: hidden" draggable="false" src="{{ url_for('static',filename='images/Footsteps/WrongSteps/Wrong4.png') }}"/>
        <img id="bad-step-image5" style="visibility: hidden" draggable="false" src="{{ url_for('static',filename='images/Footsteps/WrongSteps/Wrong5.png') }}"/>
    </div>
</section>

<section id="view-3">
    <div id="win-lose-messages" class="outro-grid">
        <figure class="person outro-person">
            <img src="{{ url_for('static',filename='images/Dance_End.png') }}"  alt="Self Portrait, c.1818 by Claude Marie Dubufe" title="Self Portrait, c.1818 by Claude Marie Dubufe" draggable="false"/>
            <figcaption class="imageBy">Background image by GarryKillian on Freepik</figcaption>
        </figure>
        <h1 id="win-lose" class="win-title">Win/Lose</h1>
        <p id="win-lose-start" class="win-lose-start"></p>
        <div id="score-info" class="score-info"></div>
        <button class="play" id="restartButton" onclick="document.location.reload()">Next Dance...</button>
        <button class="play" id="winButton" onclick="document.location.reload()">Challenge me!</button>
    </div>
</section>

</body>

</html>