<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}"/>
    <script src="{{ url_for('static',filename='javaScript/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='javaScript/item-catch-config.js') }}" defer></script>
    <title>Dance Configuration</title>
</head>
<body>
<h1 class="game-title">Dance Configuration</h1>

<form id="config-form" class="config-form">
    <label class=" configLabel" for="badStep">Bad step probability (%): </label>
    <input class=" configBox" type="text" id="badStep" name="badStep">
    <br>
    <label class=" configLabel" for="stepCount">Step Count:</label>
    <input class=" configBox" type="text" id="stepCount" name="stepCount">
    <br>
    <label class=" configLabel" for="winScore">Win score:</label>
    <input class=" configBox" type="text" id="winScore" name="winScore">
    <br>
    <label class=" configLabel" for="timeOn">Time on screen (default: 15):</label>
    <input class=" configBox" type="text" id="timeOn" name="timeOn">
    <br>
    <label class=" configLabel" for="spawnFreq">Time between spawns (default: 3):</label>
    <input class=" configBox" type="text" id="spawnFreq" name="spawnFreq">
    <br>
    <label class=" configLabel" for="fadeOut">Disable fade out</label>
    <input class=" configBox" type="checkbox" id="fadeOut" name="fadeOut">
    <br>
    <!--    <label class=" configLabel" for="debug">Debug</label>-->
    <!--    <input class=" configBox" type="checkbox" id="debug" name="debug">-->
    <!--    <br>-->
    <input type="submit" class="submit" value="Save config"/>
</form>
</body>

</html>