<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style-catch.css') }}"/>
    <script src="{{ url_for('static',filename='javaScript/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='javaScript/item-catch.js') }}" defer></script>
    <title>Master the dance!</title>
</head>
<body>

<!--<img class="background-image" src="{{ url_for('static',filename='images/item-bg.jpg') }}"/>-->

<section class="intro-grid" id="view-1">
    <img class="person" src="{{ url_for('static',filename='images/snake-long.png') }}"/>
    <h1 class="game-title">Master the dance!</h1>
    <p></p>
    <p class="instructions">1802, Bath Assembly Rooms.

The bridal Ball has taken a dark turn. The Earl is dead and the murderer is likely still here! Desperately afraid to be exposed to the worst sort of scandal, Isobel, now widow, has begged you for help. Who committed this atrocious crime? Would anyone in this very ballroom know more than they let on?

You’ll need to deploy your most elaborate charms if you have any hope of coming to the heart of this affair – and what better way of charming these eligible gentlemen than giving them the most elegant dance of the Season!

To do so, you’ll need to follow the rhythm and hit the steps as they appear. Take care not to delay for too long or your partner might take umbrage at your lack of pace. Oh, and most of all, do not step on their toes! What a humiliation that would be, so unseemly… No chance of that happening though of course, you’re an excellent dancer – are you not? Good luck!
    </p>
    <p></p>
    <div class="name">
        <label class="answerLabel" for="userName">Your Name: </label>
        <input class="answerBox" type="text" id="userName" name="answer">
    </div>
    <div class="play ">Play!</div>
    <div class="win-lose">
    </div>
</section>

<section id="view-2">
    <div class="timer">
        <p id="stepper">Steps left: <span id="steps-left"></span></p>
        <div id="snake-count">
            <span id="steps-hit">X</span>/<span id="snake-goal">Y</span>
            <img src="{{ url_for('static',filename='images/snake-small.png') }}">
        </div>
    </div>
    <div class="step-container" id="good-step-container">
        <img draggable="false" src="{{ url_for('static',filename='images/snake-small.png') }}"/>
    </div>
    <div class="step-container" id="bad-step-container">
        <img draggable="false" src="{{ url_for('static',filename='images/snake-small-colour.png') }}"/>
    </div>
</section>

<section id="view-3">
    <!--        <div class="non-interact"></div>-->
    <div id="win-lose-messages">
        <p class="win-lose-start center"></p>
        <p class="win-lose-result center"></p>
        <button class="submit" id="restartButton" onclick="document.location.reload()">Next Dance..</button>
        <button class="submit" id="winButton" onclick="winGame()">Discover the Secret...</button>
        <!--            <img class="center" src="{{ url_for('static',filename='images/riddle.png') }}"/>-->
    </div>
</section>

</body>

</html>