<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style-catch.css') }}"/>
    <script src="{{ url_for('static',filename='javaScript/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='javaScript/item-catch.js') }}" defer></script>
    <title>Find the Artefacts!</title>
</head>
<body>

<img class="background-image" src="{{ url_for('static',filename='images/item-bg.jpg') }}"/>

<section id="view-1">
    <h1 class="game-title center">Master the dance!</h1>
    <p class="instructions center">
        Tap the correct objects in time, avoid the incorrect objects, achieve a score of <span id="score-goal"></span>
        to win
    </p>
    <div class="play center">Play!</div>
    <div class="win-lose center">
    </div>
</section>

<section id="view-2">
    <div class="timer">
        <p>Steps left: <span id="steps-left"></span></p>
        <div id="snake-count">
            <span id="steps-hit">X</span>/<span id="snake-goal">Y</span>
            <img src="{{ url_for('static',filename='images/snake-small-colour.png') }}">
        </div>
    </div>
    <div class="step-container" id="good-step-container">
        <img draggable="false" src="{{ url_for('static',filename='images/snake-small.png') }}"/>
    </div>
    <div class="step-container" id="bad-step-container">
        <img draggable="false" src="{{ url_for('static',filename='images/snake-small-colour.png') }}"/>
    </div>
</section>

<section id="view-3">
    <!--        <div class="non-interact"></div>-->
    <div id="win-lose-messages">
        <p class="win-lose-start center"></p>
        <p class="win-lose-result center"></p>
        <!--            <img class="center" src="{{ url_for('static',filename='images/dice.png') }}"/>-->
    </div>
</section>

</body>

</html>