<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}"/>
    <script src="{{ url_for('static',filename='javaScript/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='javaScript/item-catch-config.js') }}" defer></script>
    <title>Dance Configuration</title>
</head>
<body>
<h1 class="game-title">Dance Configuration</h1>

<form id="config-form" class="config-form">
    <label class=" configLabel" for="danceTimer">Timer:</label>
    <input class=" configBox" type="text" id="danceTimer" name="danceTimer">
    <br>
    <label class=" configLabel" for="stepCount">Step Count:</label>
    <input class=" configBox" type="text" id="stepCount" name="stepCount">
    <br>
    <label class=" configLabel" for="winScore">Win score:</label>
    <input class=" configBox" type="text" id="winScore" name="winScore">
    <br>
    <label class=" configLabel" for="timeOn">Time on screen (default: 10):</label>
    <input class=" configBox" type="text" id="timeOn" name="timeOn">
    <br>
    <label class=" configLabel" for="spawnFreq">Time between spawns (default: 4):</label>
    <input class=" configBox" type="text" id="spawnFreq" name="spawnFreq">
    <br>
    <label class=" configLabel" for="fadeOut">Disable fade out</label>
    <input class=" configBox" type="checkbox" id="fadeOut" name="fadeOut">
    <br>
    <label class=" configLabel" for="showTarget">Show target score on client side:</label>
    <input class=" configBox" type="checkbox" id="showTarget" name="showTarget">
    <br>
    <label class=" configLabel" for="showTimer">Show timer on client side:</label>
    <input class=" configBox" type="checkbox" id="showTimer" name="showTimer">
    <br>
    <label class=" configLabel" for="showStepsLeft">Show steps left on client side:</label>
    <input class=" configBox" type="checkbox" id="showStepsLeft" name="showStepsLeft">
    <br>
    <label class=" configLabel" for="inverseBad">Show bad steps upside down:</label>
    <input class=" configBox" type="checkbox" id="inverseBad" name="inverseBad">
    <br>
    <label class=" configLabel" for="randomRotation">All steps at random rotation:</label>
    <input class=" configBox" type="checkbox" id="randomRotation" name="randomRotation">
    <br>
    <label class=" configLabel" for="showTutorial">Show tutorial game screen:</label>
    <input class=" configBox" type="checkbox" id="showTutorial" name="showTutorial">
    <br>
    <label class=" configLabel" for="hideProgress">Hide progress on client side:</label>
    <input class=" configBox" type="checkbox" id="hideProgress" name="hideProgress">
    <br>
    <label class=" configLabel" for="hideLeaderboard">Hide leaderboard on client side:</label>
    <input class=" configBox" type="checkbox" id="hideLeaderboard" name="hideLeaderboard">
    <br>
    <input type="submit" class="submit" value="Save config"/>
</form>
</body>

</html>