<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style-riddle.css') }}"/>
    <script src="{{ url_for('static',filename='javaScript/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='javaScript/riddle.js') }}" defer></script>
    <title>The Riddle Master</title>
</head>
<body>

<!--<img class="background-image" src="{{ url_for('static',filename='images/snake-long.png') }}"/>-->
<img draggable="false" class="background-image" src="{{ url_for('static',filename='images/riddle-bg.png')}}"/>
<section id="view-2">
    <div class="timer center">
        <p>Time left: <span id="time-left"></span></p>
        <div id="right"></div>
        <div id="wrong"></div>
    </div>

    <p class="riddle center"></p>
    <div id="textEntry">
        <label class="center answerLabel" for="answer">Your Answer:</label>
        <input class="center answerBox" type="text" id="answer" name="answer">
        <input class="center submit" id="submitButton" type="button" value="Submit" onclick="answerWritten();"/>
    </div>
    <div id="multiChoice">
        <label class="center answerLabel" for="answer">Select the Correct answer:</label><br>
        <input class="option submit" id="answer1" type="button" value="1111" onclick="answer1();"/>
        <input class="option submit" id="answer2" type="button" value="2222" onclick="answer2();"/>
        <input class="option submit" id="answer3" type="button" value="3333" onclick="answer3();"/>
    </div>
</section>

<section id="view-1">
    <h1 class="game-title center">The Riddle Master</h1>
    <p class="instructions center">
        Solve
        <soan id="riddleCount"></soan>
        riddles within
        <soan id="timer-length"></soan>
        seconds to win
    </p>
    <label class="center answerLabel" for="userName">Your Name:</label>
    <input class="center answerBox" type="text" id="userName" name="answer">
    <div class="play center">Play!</div>
    <div class="win-lose center">
    </div>
</section>

<section id="view-3">
    <div class="non-interact"></div>
    <div class="win-lose-messages" id="win-lose-messages">
        <p class="win-lose-start center"></p>
        <p class="win-lose-result center"></p>
        <button class="submit center" onclick="cont()">Continue</button>
        <!--            <img class="center" src="images/riddle.png"/>-->
    </div>
</section>

<section id="view-4">
    <div class="non-interact"></div>
    <div class="win-lose-messages">
        <p class="win-lose-start center"></p>
        <p class="win-lose-result center"></p>
        <button class="submit center" id="restartButton" onclick="document.location.reload()">Restart</button>
        <button class="submit center" id="winButton" onclick="winGame()">Discover the Secret...</button>
        <!--            <img class="center" src="images/riddle.png"/>-->
    </div>
</section>

</body>

</html>