<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style-riddle.css') }}"/>
    <script src="{{ url_for('static',filename='javaScript/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='javaScript/riddle.js') }}" defer></script>
    <title>The Riddle</title>
</head>
<body>

<img class="background-image" src="{{ url_for('static',filename='images/snake-long.png') }}"/>

<section id="view-2">
    <div class="timer center">
        <p>Time left: <span id="time-left"></span></p>
        <div id="right"></div>
        <div id="wrong"></div>
    </div>
    <img draggable="false" class="background-image"
         src="{{ url_for('static',filename='images/riddle-bg.png')}}"/>
    <p class="riddle center"></p>
    <label class="center answerLabel" for="answer">Your Answer:</label>
    <input class="center answerBox" type="text" id="answer" name="answer">
    <input class="center submit" id="submitButton" type="button" value="Submit" onclick="submitAnswer();"/>
    <!--        <p class="answer center">(Say your answer to <br> the gamemaster)</p>-->
</section>

<section id="view-1">
    <h1 class="game-title center">The Riddle</h1>
    <p class="instructions center">
        Solve the riddle within
        <soan id="timer-length"></soan>
        seconds to win
    </p>
    <div class="play center">Play!</div>
    <div class="win-lose center">
    </div>
</section>

<section id="view-3">
    <div class="non-interact"></div>
    <div id="win-lose-messages">
        <p class="win-lose-start center"></p>
        <p class="win-lose-result center"></p>
        <!--            <img class="center" src="images/dice.png"/>-->
    </div>
</section>

</body>

</html>