@font-face {
    font-family: Kalam;
    src: url(Kalam.ttf) format('truetype');
}

@font-face {
    font-family: 'PassionsConflict';
    font-weight: 500;
    src: url(PassionsConflict.ttf) format('truetype');
}

* {
    /*background-color: #bc9464;*/
    font-family: Kalam;
    text-align: center;
    font-size: 20px;
}

.game-title {
    font-family: PassionsConflict;
    font-size: 1100%;
    font-weight: 500;
    text-align: center;
    margin: 10%;
}

.win-title {
    font-family: PassionsConflict;
    font-size: 700%;
    font-weight: 500;
    text-align: center;
    margin-top: 1%;
    margin-bottom: -2%;
}

.game-score {
    white-space: pre-wrap;
}


body {
    color: #37375d;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

tbody, td, tr, th, table {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid black;
    border-collapse: collapse;
}

.server-grid {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-gap: 2em 2em;
    grid-auto-flow: row dense;
    align-content: center;
}

.instructions {
    color: #37375d;
    grid-column: auto /span 2;
    white-space: pre-wrap;
    background-color: #ebbe93;
    margin-top: 0px;
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0.01em;
    text-align: justify;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    border: 6px ridge #5c4428;

}

.instructions p {
    text-align: justify;
    margin: 2%;
    font-size: 24px;
}

.progress {
}

.leaderboard {
    width: 25vw;
    border: 1px solid black;
    margin-left: 12%;
}

.grid-spot {
    background-color: #ebbe93;
    border: 6px ridge #5c4428;
    padding: 2%;
}

.locked {
    /*filter: opacity(0.6) grayscale(1) blur(15px);*/
}

.task {
    color: white;
    font-size: xx-large;
}

.filter {
    background-color: rgba(23, 23, 23, 0.3);

}

.catch, .tile, .riddle {
    position: absolute;
    top: 0;
    left: 0;
}

.image {
    object-fit: contain;
    width: 20vh;
    padding-left: 25%;
    height: 30vh;
}

.roomReset {
    margin: 1%;
    font-size: xx-large;
}

.hidden {
    display: none;
    font-size: xx-large;
    color: white;
}

body {
    background-image: url("../images/1129.jpg");
    background-color: #bc9464;
    background-blend-mode: multiply;
    background-size: contain;
    width: 100vw;
    height: 100vh;
}

.row {
    display: -ms-flexbox; /* IE 10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE 10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
    height: 30vh;
    width: 20vw;
    padding: 0 4px;
    background-color: #ebbe93;
    border: 6px ridge #5c4428;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

#view-3 {
    display: none;
}

.outro-grid {
    display: grid;
    grid-template-columns: 25% 70%;
    grid-auto-flow: row dense;
}

.outro-person {
    object-fit: contain;
    grid-row: auto /span 3;
    width: 25vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);
}


#win-lose-messages {
    transform: translate(0%, -0%);
    -webkit-transform: translate(0%, -0%);
    -moz-transform: translate(0%, -0%);
    -o-transform: translate(0%, -0%);
    -ms-transform: translate(0%, -0%);
    width: 100vw;
    box-shadow: 0px 4px 11px -5px rgba(0, 0, 0, 0.8);
}

.win-lose-start {
    background-color: #ebbe93;
    font-size: 32px;
    font-weight: 400;
    line-height: 51px;
    letter-spacing: 0.01em;
    text-align: justify;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    white-space: pre-wrap;
    border: 6px ridge #5c4428;
}

.play {
    width: 30vh;
    height: 30vh;
    background: #545c9c;
    border: none;
    border-radius: 50%;
    font-weight: 700;
    color: white;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border: 6px ridge #37375d;
}