@font-face {
    font-family: Kalam;
    src: url(Kalam.ttf) format('truetype');
}

@font-face {
    font-family: 'PassionsConflict';
    font-weight: 500;
    src: url(PassionsConflict.ttf) format('truetype');
}

body {
    background: white;
    overflow: hidden;
}

.App {
    text-align: center;
}

* {
    background-color: #bc9464;
    font-family: Kalam;
}

.App-header {
    min-height: 80vh;
    display: block;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.background-image {
    width: 100vw;
    height: 100vh;
    opacity: 0.07;
}

button {
    border: none;
    background: none;
    padding: 0;
    margin-block: 0px;
}

.center {
    margin-left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    text-align: center;
}

.restart {
    background-color: white;
    font-size: large;
    padding: 5px;
    align-content: center;
    margin-left: 10%;
}

.non-interact {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 80vh;
}

.timer {
    font-size: 1.8rem;
    padding: 4vh;
}

.cypher-input-answer {
    position: relative;
}

.cypher-input-answer-background {
    position: absolute;
    height: 100%;
    width: 100vw;
    background: #e95353;
    opacity: 0;
}

.blink {
    animation: blink 1s ease;
}

@keyframes blink {
    10% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.cypher-swipe-instruction {
    background: black;
    color: white;
    padding-block: 1.5vh;
    font-size: 1rem;
    font-weight: 100;
}

.cypher-input-answer-text {
    margin-block: 5vh;
    padding-block: 1vh;
    font-size: 1.4rem;
    width: 100vw;
}

.cypher-input {
    height: 50px;
    width: 45vw;
    font-size: 2rem;
    letter-spacing: 0.5rem;
    text-align: center;
    text-transform: uppercase;
}

input:focus {
    outline: none;
}

.cypher-submit {
    font-size: 1.2rem;
    background: #37375d;
    color: white;
    padding-inline: 0.8rem;
    padding-block: 0.4rem;
    margin-top: 2vh;
    border-radius: 5%;
}

.cypher-img-grid {
    width: auto;
    height: 30vh;
}

.boxy {
    font-size: xxx-large;
}


#win-lose-messages {
    transform: translate(0%, -0%);
    -webkit-transform: translate(0%, -0%);
    -moz-transform: translate(0%, -0%);
    -o-transform: translate(0%, -0%);
    -ms-transform: translate(0%, -0%);
    width: 100vw;
    box-shadow: 0px 4px 11px -5px rgba(0, 0, 0, 0.8);
}

.win-lose-start {
    background-color: #adaccd;
    font-size: 32px;
    font-weight: 400;
    line-height: 51px;
    letter-spacing: 0.01em;
    text-align: justify;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    white-space: pre-wrap;
}

#lose-message {
    background: #de5f5f;
}
#win-message {
    background: #4ed97f;
}


.win-lose-result {
    font-size: 1.5rem;
    line-height: 150%;
    width: 90vw;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.dice {
    width: 20vw;
    max-width: 70px;
    height: auto;
}

.photo {
    width: 240vw;
    height: auto;
}

.threeTile {
    height: 25vh;

}

.fourTile {
    height: 20vh;

}

.image-preview {
    width: 50vw;
    height: auto;
}

.animate__animated.animate__fadeOut {
    --animate-duration: 1.5s;
}

.tileGrid {
    background-image: url(images/Frame.png);
    display: grid;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50vw;
    height: 50vw;
}

.three {
    padding: 135px;

}

.four {
    padding: 100px;

}


.outro-grid {
    display: grid;
    grid-template-columns: 30% 60%;
    grid-auto-flow: row dense;
}

.outro-person {
    object-fit: contain;
    grid-row: auto /span 2;
    width: 25vw;
    height: 100vh;
    background-color: rgba(0,0,0,0);
}
