body {
	background: white;
	margin: 0;
	padding: 0;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

@media screen and (orientation:portrait) {
	img {
		height: 15vh;
	}
}

@media screen and (orientation:landscape) {
	img {
		height: 20vh;
	} 
}


