/*@font-face {*/
/*    font-family: 'Quicksand';*/
/*    font-style: normal;*/
/*    font-weight: 400;*/
/*    font-display: swap;*/
/*    size-adjust: 150%;*/
/*    src: url(ChopinScript.ttf) format('truetype');*/
/*    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Quicksand';*/
/*    font-style: normal;*/
/*    font-weight: 600;*/
/*    font-display: swap;*/
/*    size-adjust: 200%;*/
/*    src: url(ChopinScript.ttf) format('truetype');*/
/*    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;*/
/*}*/

/* VIEW 1 - GAME INSTRUCTIONS */

#view-1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
}

* {
    background-color: #bc9464;
    font-family: sans-serif;
}

body {
    color: #37375d;
}

.answerBox {
    background-color: #ebbe93;
    color: #37375d;
    font-family: sans-serif;
    font-size: xx-large;
    border: none;
    margin-bottom: 5%;
}

.answerLabel {
    font-size: xx-large;
}

.background-image {
    position: absolute;
    height: 100vh;
    width: auto;
    opacity: 0.2;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    z-index: -1;
}

.game-title {
    font-size: xxx-large;
    text-align: center;
}

.center {
    margin-left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    text-align: center;
}


.instructions {
    font-size: xx-large;
    margin-block: 6vh;
    line-height: 150%;
    grid-row: auto / span 3;
    white-space: pre-wrap;
    text-align: justify;
}

.intro-grid {
    display: grid;
    grid-template-columns: 25% 45% 25%;
    /*grid-template-rows: 20% 35% 30%;*/
    grid-gap: 3em 3em;
    grid-auto-flow: row dense;
}

.person {
    object-fit: contain;
    grid-row: auto /span 4;
    width: 25vw;
    height: 100vh;
}

.play {
    width: 30vh;
    height: 30vh;
    background: #545c9c;
    border: none;
    border-radius: 50%;
    font-family: sans-serif;
    color: white;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.win-lose {
    width: 90vw;
    margin-block: 10vh;
    font-size: 1.2rem;
    text-transform: uppercase;
}