/* VIEW 1 - GAME INSTRUCTIONS */

#view-1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-image: url("../images/1129.jpg");
    background-color: #bc9464;
    background-blend-mode: multiply;
    background-size: contain;
    /*overflow-y: hidden;*/
}

/* VIEW 2 - GAME */

#view-2 {
    position: absolute;
    top: 0px;
    left: -100vw;
    width: 100vw;
    height: 100vh;
    background-image: url("../images/1129.jpg");
    background-color: #bc9464;
    background-blend-mode: multiply;
    background-size: contain;
    /*overflow-y: hidden;*/
}

.timer {
    background: black;
    color: white;
    padding-block: 4vh;
    padding-inline: 7vw;
    width: 86vw;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.timer p {
    margin: 0;
    padding: 0;
}

.step-container {
    width: 100vw;
    height: 80vh;
}

.step-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 10vw;
    padding: 5vw;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}


#snake-count {
    display: flex;
    align-items: center;
}

#snake-count img {
    width: 7vw;
    max-width: 50px;
    margin-left: 3vw;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}

/* VIEW 3 - RESULT */

#view-3 {
    display: none;
    background-image: url("../images/1129.jpg");
    background-color: #bc9464;
    background-blend-mode: multiply;
    background-size: contain;
}