/* VIEW 1 - GAME INSTRUCTIONS */
#view-1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-image: url("../images/1129.jpg");
    background-color: #bc9464;
    background-blend-mode: multiply;
    background-size: contain;
    /*overflow-y: hidden;*/
}

.option {
    text-align: center;
    text-transform: capitalize;
    background-color: #ebbe93;
    border: 6px ridge #5c4428;
    width: 20%;

}

.options {
    display: flex;
    justify-content: space-evenly;
}


/* VIEW 2 - GAME */

#view-2 {
    position: absolute;
    top: 0px;
    left: -100vw;
    width: 100vw;
    height: 100vh;
    background-image: url("../images/1129.jpg");
    background-color: #bc9464;
    background-blend-mode: multiply;
    background-size: contain;
}

.timer {
    position: relative;
    padding: -5vw;
    font-size: 3rem;
}

.timer p {
    margin-top: 0;
    padding-block: 5vh;
}

.riddle {
    background-color: #ebbe93;
    border: 6px ridge #5c4428;
    font-size: 2rem;
    margin-block: 7vh;
    line-height: 150%;
    white-space: pre-wrap;
}

.answer {
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 150%;
    margin-top: 0;
    padding-top: 0;
    width: 80vw;
}

.answerLabel2 {
    margin-left: 0%;
}

/* VIEW 3 - RESULT */

#view-3, #view-4 {
    display: none;
    background-image: url("../images/1129.jpg");
    background-color: #bc9464;
    background-blend-mode: multiply;
    background-size: contain;
}