/* VIEW 1 - GAME INSTRUCTIONS */
#view-1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    /*background-image: url("../images/item-bg.jpg");*/
    background-size: 100% 100%;
    /*overflow-y: hidden;*/
}

.option {
    text-align: center;
    text-transform: capitalize;
    background: #545c9c;
    color: white;
    width: 20%;

}

.options {
    display: flex;
    justify-content: space-evenly;
}


/* VIEW 2 - GAME */

#view-2 {
    position: absolute;
    top: 0px;
    left: 0vw;
    width: 100vw;
    height: 100vh;
}

.timer {
    position: relative;
    color: black;
    padding-inline: 7vw;
    width: 86vw;
    font-size: 1.8rem;
}

.timer p {
    margin-top: 0;
    padding-block: 5vh;
}

.riddle {
    background-color: #adaccd;
    font-size: 2rem;
    width: 80vw;
    margin-block: 14vh;
    line-height: 150%;
    white-space: pre-wrap;
}

.answer {
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 150%;
    margin-top: 0;
    padding-top: 0;
    width: 80vw;
}

.answerLabel2 {
    margin-left: 0%;
}

#right, #wrong {
    position: absolute;
    height: 100%;
    aspect-ratio: 1;
    top: 0;
}

#right {
    left: 0px;
}

#wrong {
    right: 0px;
}

/* VIEW 3 - RESULT */

#view-3, #view-4 {
    display: none;
}