{% extends "layout.html" %}
{% block body %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/server.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='js/server.js') }}"></script>
<script type="text/javascript">
    myVar = getVal({{ip | tojson}})
</script>
<div class="nav">
    <div id="server-grid" class="server-grid">
        <div class="game-title">
            <head>Whodunnit?</head>
        </div>
        <div class="instructions"><p>1802, Bath Assembly Rooms.

To celebrate their recent nuptials, the young and beautiful Isobel Payne and her husband Frederick, Earl of Scargrave – a gentleman of mature years – have thrown a bridal Ball. As a dear friend to Isobel and seeking to forget your troubles in a whirlwind of frivolity, you’re more than inclined to attend.

The festivities take a dark turn as you’re taken aside by a panicked Isobel. The Earl is dead. Most likely poisoned. He collapsed in acute pain after having downed his drink in his study. The murderer is likely still here, at the ball. There’s more: Isobel soon received a sinister missive accusing her and the Earl’s heir, Viscount Payne, of adultery – and of murder!

Desperately afraid that the letter will expose her to the worst sort of scandal, Isobel begs you for help. Who at this Ball is the most likely culprit? And how can you, with only a young lady’s charms at your disposal, resolve this unpleasantness?</p></div>

        <div class="column" style="position: relative; left: 20%; top: 0">
            <img draggable="false" id="catch1" class="catch locked image"
                 src="{{url_for('static', filename='images/Progress/Dance1.PNG')}}">
            <img draggable="false" id="catch2" class="catch locked image"
                 src="{{url_for('static', filename='images/Progress/Dance2.PNG')}}">
            <img draggable="false" id="catch3" class="catch locked image"
                 src="{{url_for('static', filename='images/Progress/Dance3.PNG')}}">
        </div>
        <div class="column" style="position: relative; left: 20%; top: 0">
            <img draggable="false" id="tile1" class="tile locked image"
                 src="{{url_for('static', filename='images/Progress/Needlepoint1.PNG')}}">
            <img draggable="false" id="tile2" class="tile locked image"
                 src="{{url_for('static', filename='images/Progress/Needlepoint2.PNG')}}">
            <img draggable="false" id="tile3" class="tile locked image"
                 src="{{url_for('static', filename='images/Progress/Needlepoint3.PNG')}}">
        </div>
        <div class="column" style="position: relative; left: 20%; top: 0">
            <img draggable="false" id="riddle1" class="riddle locked image"
                 src="{{url_for('static', filename='images/Progress/Charades1.PNG')}}">
            <img draggable="false" id="riddle2" class="riddle locked image"
                 src="{{url_for('static', filename='images/Progress/Charades2.PNG')}}">
            <img draggable="false" id="riddle3" class="riddle locked image"
                 src="{{url_for('static', filename='images/Progress/Charades3.PNG')}}">
        </div>
        <div class="grid-spot game-score" id="dance">dance</div>
        <div class="grid-spot game-score" id="puzzle">puzzle</div>
        <div class="grid-spot game-score" id="riddle">riddle</div>

        <section class="grid-spot progress" id="danceScores"></section>
        <section class="grid-spot progress" id="needlepointScores"></section>
        <section class="grid-spot progress" id="charadesScores"></section>
    </div>
    <section id="view-3">
        <div id="win-lose-messages" class="outro-grid">
            <figure class="outro-person">
            <img src="{{ url_for('static',filename='images/Server_End.png') }}"/>
            <figcaption class="imageBy">Background image by GarryKillian on Freepik
A Country Girl by Charles Sillem Lidderdale</figcaption>
            </figure>
            <h1 id="win-lose" class="win-title">Win/Lose</h1>
            <p class="win-lose-start center"></p>
            <button class="play" id="winButton" onclick="resetRoom(); document.location.reload()">Until next time...
            </button>
        </div>
    </section>
</div>
{% endblock %}