{% extends "layout.html" %}
{% block body %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/server.css') }}">
<div class="nav">
    <div class="filter">
        <div class="title">
            <head>Task List</head>
        </div>
        <button class="roomReset" id="roomReset" onclick="resetRoom()">Reset Room</button>
        <button class="roomReset danceScores" id="danceScoreButton" onclick="danceLeaderboard()">Dance Leaderboard
        </button>
        <button class="roomReset riddleScores" id="riddleScoreButton" onclick="riddleLeaderboard()">Riddle Leaderboard
        </button>
        <button class="roomReset puzzleScores" id="puzzleScoreButton" onclick="puzzleLeaderboard()">Puzzle Leaderboard
        </button>
        <section class="hidden" id="danceScores">

        </section>
        <section class="hidden" id="riddleScores">

        </section>
        <section class="hidden" id="puzzleScores">

        </section>
        <div class="task">
            <div class="select">
                <list id="toDoList">
                    <!--    Filled out by javaScript-->
                </list>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <img draggable="false" id="catch 1" class="catch locked image"
                     src="{{url_for('static', filename='images/catch.png')}}">
                <img draggable="false" id="catch 2" class="catch locked image"
                     src="{{url_for('static', filename='images/catch.png')}}">
                <img draggable="false" id="catch 3" class="catch locked image"
                     src="{{url_for('static', filename='images/catch.png')}}">
            </div>
            <div class="column">
                <img draggable="false" id="riddle 1" class="riddle locked image"
                     src="{{url_for('static', filename='images/riddle.png')}}">
                <img draggable="false" id="riddle 2" class="riddle locked image"
                     src="{{url_for('static', filename='images/riddle.png')}}">
                <img draggable="false" id="riddle 3" class="riddle locked image"
                     src="{{url_for('static', filename='images/riddle.png')}}">
            </div>
            <div class="column">

                <img draggable="false" id="tile 1" class="tile locked image"
                     src="{{url_for('static', filename='images/slide.png')}}">
                <img draggable="false" id="tile 2" class="tile locked image"
                     src="{{url_for('static', filename='images/slide.png')}}">
                <img draggable="false" id="tile 3" class="tile locked image"
                     src="{{url_for('static', filename='images/slide.png')}}">
            </div>
        </div>
        <script type="text/javascript" src="{{ url_for('static', filename='js/server.js') }}">
        </script>
    </div>
    <section id="view-3">
        <!--        <div class="non-interact"></div>-->
        <div id="win-lose-messages">
            <p class="win-lose-start center"></p>
            <p class="win-lose-result center"></p>
            <button class="submit center" id="restartButton" onclick="document.location.reload()">Restart</button>
            <button class="submit center" id="winButton" onclick="resetRoom(); document.location.reload()">Discover the
                Secret...
            </button>
            <!--            <img draggable="false"class="center" src="{{ url_for('static',filename='images/riddle.png') }}"/>-->
        </div>
    </section>
</div>
{% endblock %}